body {
}
/*NAVBAR STYLING*/
div.container-fluid {
    background-color:#003366;
    font-family: 'Oswald', sans-serif;
}
#text a {
    color:white;
}
a#logo.navbar-brand {
    color:white;
}
a#navvy.navbar.navbar-default {
    font-family: 'Oswald', sans-serif;
    text-decoration:solid
}
#navvy.navbar.navbar-default {
    margin:0px;
    padding:0px;
}
/*HEADER STYLING*/
/*div#mainpic.main {
    padding-top:0px;
    padding-bottom:0px;
    border:none;
    margin:0px;
    padding:0px;
}
#santanna {
    position:relative;
}
h1 {
    position:absolute;
    top:58px;
    right:0px;
}
#santannap {
    position:absolute;
    top:250px;
}
#santannap {
    top:160px;
    right:0px;
    border:none;
    padding:0px;
    margin:0px
}
#map {
    /*width:364px;
    height:370px;*/
    /*border:none;
    padding:0px;
    border-bottom-width:thin;
    margin:0px;
        
}*/
